logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

dist/
dist-ssr/
release/
build/
out/
*.asar

*.dll
*.pak
*.bin
*.exe
*.dat

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
venv/
env/
*.egg-info/

.env
.env.local
.env.development
.env.production
.env.test

.DS_Store

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
